<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>
    <ul>
    <% @game.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <ul>
    <% Game.countries.each do |country| %>
        <li><%= country %> - 
          <%= select('playing', country, User.all.collect { |p| [p.name, p.id] }, :include_blank => true) %>
        </li>
      <% end %>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
