<h1>Listing games</h1>

<table>
  <tr>
    <th>Name</th>
    <th>War</th>
    <th>Round</th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.name %></td>
    <td><%= game.war %></td>
    <td><%= game.round %></td>
    <td><%= link_to 'Show', game %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
